.complaintcard{
    background:#fff;
    border-radius:16px;
    padding:20px 25px;
    margin-bottom:20px;

    display:flex;
    flex-direction:column;
    gap:18px;

    box-shadow:0 4px 15px rgba(0,0,0,0.08);
    transition:0.3s;
}

.complaintcard:hover{
    transform:translateY(-3px);
}

.description{
    color:#6b7280;
    line-height:1.6;
    font-size:15px;
}

.complaintcard h2{
    color:#111827;
    font-size:24px;
}

.card-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.card-header h4{
    color:#2563eb;
    font-size:16px;
}

.card-header p{
    background:#fef3c7;
    color:#92400e;

    padding:6px 14px;
    border-radius:20px;

    font-size:14px;
    font-weight:600;
}

.card-actions{
    display:flex;
    gap:12px;
    flex-wrap:wrap;
}

.b1{
    border:none;
    background:#f3f4f6;
    color:#111827;

    padding:10px 16px;
    border-radius:10px;

    cursor:pointer;
    font-weight:500;

    transition:.3s;
}

.b1:hover{
    background:#e5e7eb;
}

.view-btn{
    border:none;
    background:#2563eb;
    color:white;

    padding:10px 18px;
    border-radius:10px;

    cursor:pointer;
    font-weight:600;

    transition:.3s;
}

.view-btn:hover{
    background:#1d4ed8;
}